[project]
name = "pkg-depending-on-lfs"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
	"remote-lfs @ git+https://git@github.com/Nicolaus93/remote-lfs.git@483765d3a6c82ecb31e530ff440a75282a27560a",
]
